* {
	box-sizing:border-box;
	margin:0;
	padding:0;
}

/* 

lets start by listing out all the elements on this page
then make some basic edits to them
fix the container
now lets embed a remote font from google

*/