/*
							Predefined/Cross-browser color names
#00 00 00 					Hexadecimal colors
rgb(0,0,0) 					RGB colors
rgba(0,0,0,1)				RGBA colors
hsl(120, 100%, 50%)			HSL colors
hsla(120, 100%, 50%, 0.3)	HSLA colors
							

https://www.w3schools.com/cssref/css_colors_legal.asp

colors.
bits and bytes.
shorthand
methods


2-bit (2)
3-bit (8)
4-bit (16)
5-bit (32)
6-bit (64)
7-bit (128)
8-bit (256)

*/



/* 00—FF: 256 */


body {

	/* background:rgba(255,255,0,1); */
	margin:0;

	
}




.color-box {
	/* position:absolute;
	top:300px;
	left:300px; */

	/* width:200px; */
	height:calc(100vh / 36);
	
	/* mix-blend-mode: screen; */
	

}

h1 {
	font-weight:normal;
	font-size:120px;
	position:absolute;
	left:360px;
	top:200px;
	
}